body{
  background: #223C3D;
  color: white;
}

.container.title{
  height: 20vh;

}

.container.title > .col-12{
  height: 20vh;
  background: #A7A39A;
}

.col-12 h1{
  width: 25%;
  margin: auto;
  border-radius: 35%;
  background: #4D666C;
  line-height: calc(20vh - 2px);
}

.total{
  margin-top: 20px;
  margin-bottom: 20px;
}

.box{
  border: 2px solid black;
  height: 100%;
  background: #808080;
  border: 2px solid black;
}

.container > .col-6{
  height: 20vh;
  padding: 10px;
}

.col-6, .col-8{
  border: 1px solid black;
}

.col-6 img{
  width: 50%;
}

[class*="col-"]{
  text-align: center;
  position: relative;
}

.col-12{
  border: 2px solid grey;
  height: 20vh;
}

[class*="col-"] span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .container{
  background: #5E9A87;
  font-size: 25px;
}
